
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

// General Style
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

img {
    width: 100%;
}


.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.section-paragraph {
    font-size: 1.3rem;
    line-height: 1.5;
}

section {
    padding: 5rem 0 !important;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'opensans-regular', sans-serif;
    position: relative;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}


// Nav
// Nav
nav {
    // background:;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1111;
    .nav {
        // position: absolute;
        text-align:center;
        li {
            display: inline-block;
            margin: 0 25px;

            a {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .toggle-btn {
        display: none;
    }
}





// header
.header-area {
    background-image: url('../image/hero-background-8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-bottom: 2rem;
    margin-top: -48px;
    // bunner text 
    .bunner-row {
        display: grid;
        place-content: center;
        color: white;
        height: 90%;

        .bunner-text {
            text-align: center;
            h3 {
                font-weight: 300;
            }
        }
        .responsive-header {
            font-size: 5rem;
            margin-bottom: 2rem;
        }
    }

    // View_more
    .view_more {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        animation: view_more 1s linear 1s infinite alternate;
        cursor: pointer;
        i {
            background-color: #fff;
            color: black;
            border: 1px solid white;
            border-radius: 50%;
            padding: 10px 12px;
        }
    }
}   

// About 
.about {
    padding: 3rem 0;
    .about-inner {
        display: grid;
        grid-template-columns: 2fr minmax(400px, 1fr);

        .about-image {
            display: grid;
            place-items: center;

            img {
                width: 80%;
            }
        }
    }
}


// Work Experience
.work-experience {
    padding: 3rem 0;
    background-color: #dceaf4;

    .work-items {
        margin-top: 2rem;
        display: grid;
        // repeat( auto-fit, minmax(250px, 1fr) );
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        .item {
            
            border: 1px solid white;
            padding: 1.5rem;
            .org { 
                margin-top: 1rem;
                color: grey; 
            }
            .description {
                margin-top: 1rem;
            }
        }
    }
}

.projects {
    padding: 3rem 0;

    img {
        // border: 1px solid #c7c7c7;;
        box-shadow: 0 0 5px 2px #dadada;
    }

    #reactjs_projects {
        width: 100%;
        height: 100%;
        padding-bottom: 3rem;
        padding-top: 2rem;
        background-color: transparent;
    
        .swiper-slide {
            min-width: 215px;
            // min-height: 450px;
            font-size: 18px;
            box-shadow: 0 0 5px 2px rgb(238, 238, 238);
            padding-bottom: 1rem;
            // padding: ;
            transition: transform .4s ease;
            
            &:hover {
                transform: scale(1.02);
            }
    
            .project-title {
                padding: .5rem;
                font-size: 18px;
                text-align: center;
                color: #384565;
            }
    
            .project-description {
                padding: .5rem;
                line-height: 1.8rem;
                line-height: 1.2rem;
                font-size: 13px;
                text-align: center;
            }
    
            .view-btn {
                display: block;
                border: 1px solid #043e67;
                border-radius: 5rem;
                color: #043e67;
                // background-color: #043e67;
                width: 6rem;
                margin: 0 auto;
                text-align: center;
                padding: .35rem 0;
                margin-top: 1rem;
                transition: background-color .5s ease;
                &:hover {
                    background-color: #002E4E;
                    color: #fff;
                }
            }
            
        }
    
        
    
        .swiper-button-next, .swiper-button-prev {
            top: 96%;
            border: 1px solid #e5e5e5;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
        }
        .swiper-button-next::after, .swiper-button-prev::after {
            top: 100% !important;
            font-size: 1.2rem;
            font-weight: bold;
            outline: none;
            color: #002E4E;
        }
    }

    div.tags {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: .5rem 0;
        font-size: 15px;
        span {
            // background-color: #dceaf4;
            padding: 5px;
            color: gray;
        }
    }
}


// Skills
.fa-react {color:#155ac1;}
.fa-sass{color:#9123b5;}
.fa-css3 {color:#2f88e4;}
.fa-html5{color:orange;}
.fa-git-square{color:#b97800;}
.fa-node-js {color:green;}


.skills {
    background-color: #dceaf4;
    padding: 3rem 0;

    .skill-items {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        
        .item {
            .cover-bar {
                margin-top: .4rem;
                border: 1px solid #002E4E;
                border-radius: 5px;
                
                .inner-bar {
                    border-radius: 3px;
                    background-color: #002E4E;
                    height: 10px;
                }
            }
        }
    }
}


// Skills
.education {
    padding: 3rem 0;

    .education-items {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        .item {

            display: flex;
            .icon {
                color: #1c94a0;
                font-size: 3rem;
                padding-right: 1rem;
            }

            .org {
                margin: .5rem 0;
                color: grey;
            }

            .description {
                line-height: 1.8;
            }
        }
    }
}


// Contact
.contact {
    padding: 3rem 0;
    background-color: #dceaf4;

    .contact-items {
        margin-top: 1.4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;

        .items {
            display: flex;
            align-items: center;
            .icon {
                font-size: 2rem;
                margin-right: 1rem;
            }
            .text {
                font-size: 1.2rem;
            }

            .fa-facebook-square {
                color: #4267B2;
            }
            .fa-linkedin{
                color: #0e76a8;
            }
            .fa-twitter-square{
                color: #00acee;
            }

            .fa-envelope {
                color: #e44a4a;
            }
            .fa-phone-square {
                color: #3da72a;
            }
        }
    }
}


// Footer 
footer {
    padding: 2rem;
    color: rgb(216, 216, 216);
    background-color: #002E4E;
}

@media(max-width:770px) {
    nav {
        .nav {
            background-color: #013e5f;
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            height: 50vh;

            li {
                display: block;
                margin: 30px 0;
            }
            transition: display .5s ease;
        }
        .nav.show-nav{
            display: block;
        }

        .toggle-btn {
            display: block;
            text-align: right;
            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                i {
                    font-size: 2rem;
                }
            }
        }
    }

    .about {
        padding: 3.5rem 0;
        .about-inner {
            display: block;
            
            .about-text {
                margin-bottom: 3rem;
             }


             .about-image {
                 text-align: center;
             }
    
        }
    }

    .header-area {
        margin-top: -62px;
        .bunner-row {
            .responsive-header {
                font-size: 2.3rem;
            }
        }
    }
}



.right_hand {
    animation: right_hand 2s linear 1s infinite alternate;
}
@keyframes right_hand {
    0% {
        transform:  translate(-69px, -134px) rotatez(4deg);
        transform-origin:11% 21%;
    }
    50% {
        transform: translate(-43px, -100px) rotatez(4deg);
        transform-origin: 15% 36%;
    }
    100% {
        transform:  translate(-69px, -134px) rotatez(4deg);
        transform-origin:11% 21%;
    }
}


// .wp_neck {
//     animation: wpneck 2s linear 1s infinite alternate;
// }

@keyframes wpneck {
    from {
        transform: translate(-67px, -65px);
    }
    
    to {
        transform: rotate(-40deg) translate(-396px, -111px);
    }
}


// .wp_hair {
//     -webkit-transform-origin-y: bottom;
//     -webkit-transform-origin-x: center;
//     animation: wpheair 2s linear 1s infinite alternate;
// }
@keyframes wpheair {
    from {
        transform: translate(-59px, -75px);
    }
    to {
        transform: rotate(-46deg) translate(-401px, -128px);
    }
}

// .wp_face {
//     animation: wpface 2s linear 1s infinite alternate;;
// }


@keyframes wpface {
    from {
        transform: translate(6px, -3px);
    }
    to {
        transform: translate(-77px, -41px);
    }
}

.wp-right-leaf {
    -webkit-transform-origin-y: bottom;
    -webkit-transform-origin-x: center;
    animation: rightleave 2s linear 1s infinite alternate;
}

@keyframes rightleave{
    from {
        transform: translate(-69px, -65px) rotate(-1deg);    
    }
    to {
        transform: translate(-54px, 98px) rotate(-27deg);
    }
}

@keyframes view_more {
    from {
        bottom: 15px;
    }
    to {
        bottom: 25px; 
    }
}